@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'EB Garamond', serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    color: white;
    background-color: rgb(0, 0, 0);
}
nav ul li{
    padding: 0px 12px;
}
.brand img{
    width: 50px;
    padding: 0px 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
}
.container{
    font-family: 'IBM Plex Serif', serif;
    min-height: 55vh;
    background-color: black;
    color: white;
    width: 70%;
    margin: 18px auto;
    border-radius: 6px;
    padding: 30px;
    background-image: url("tip.jpg");
}
.songitemcontainer{
    margin-top: 50px;
}
.songitem{
    height: 52px;
    display: flex;
    background-color: white;
    color: black;
    width: 50%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.songitem img{
    width: 40px;
    height: 40px;
    margin: 0 12px;
    border-radius: 20px;
}
.time{
    margin: 0px 12px;
}
.time i{
    cursor: pointer;
}
.button{
    position: sticky;
    background-color: black;
    height: 130px;
    bottom: 0px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icons{
    margin-top: 24px;
}
.icons i{
    cursor: pointer;
}
#progressbar{
    width: 80vw;
    cursor: pointer;
   
}
.songinfo{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    margin-top: 38px;
    left: 10vw;
    font-family: 'IBM Plex Serif', serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 2s ease-in;
}